$color-primary: #40c539ff
$color-secondary: #91268fff
$border-color: #302c3f
$text-color: #fff
$gradient: linear-gradient(270deg, $color-secondary, $color-primary)
$main-contrast: #ff4980

$font-stack: 'Helvetica Neue', sans-serif