$color-primary: #0bb876
$color-secondary: #ce28fc
$color-background: #14050f
$border-color: #434e1c
$text-color: #fff
// $gradient: linear-gradient(270deg, $color-secondary, $color-primary)
$gradient: linear-gradient(270deg, #40c539ff, #91268fff)
// $main-contrast: #ff4980
$main-contrast: #fb17ff
